/* Estilos CSS personalizados aquí */

*{
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg,  rgb(56, 62, 65),rgb(38, 38, 41)); 
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;

}

/*Header*/

header {

    position: fixed;
    background-image: linear-gradient(90deg,  rgb(59, 68, 72),rgb(28, 28, 40)); 
    color: #fff;
    width: 100%;
    display: flex;
    top: 0;
    box-shadow: 10px 4px 5px #000;
    margin: 0 10px;
    justify-content: space-between;
    z-index: 998; /* Ajusta el z-index a un valor alto para que esté por encima de otros elementos */
    
}

.rightHeader{
    display: grid;
}

.datosHeader{

    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 3%;
    margin: 0.5%;
    
}

.importantMessage{
    display: flex;
    justify-content: center;
}

.importantMessage p{
    font-size: 13px;
    
}

.navegacion{

    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    
    padding-right: 3%;
    

}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-header{
    
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #f2f2f2;
}

.item-header:hover{
    color: #707276;
}

#menu{
    display: none;
}

.menu-icono{
    width: 50px;
}

label{
    cursor: pointer;
    display: none;
}
.espacio-header{
    padding-bottom: 100px;
}

@media (max-width:905px){
    .menu{
        padding: 30px;
        margin: 0;
    }

    label{
        display: initial;
    }

    header{
        display: flex;
        align-items: start;

    }
    .espacio-header{
        width: 100%;
        
        padding-bottom: 200px;
    }

    .menu {
        position: absolute;
        top: 10%;
        left: 20%;
        right: 20%;
        background-color: #323337;
        display: none;
    }

    .item-header{
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }
    .detalles {
        background-image: linear-gradient(90deg, rgb(39, 71, 120), rgb(3, 57, 116));
        width: 100%;
        color: rgba(255, 255, 255, 1);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        display: none;
        z-index: 999; /* Ajusta el z-index a un valor alto para que esté por encima de otros elementos */
    }
    
    .detalles p{
        
        width: 100%;
        min-width: 100%;
        font-size: 10px;
    }


    .item img {
        max-width: 80%;
        max-height: 70%; /* Establece la altura máxima deseada */
        min-height: 60%;
        min-width: 70%;
        display: block; /* Añadido para centrar verticalmente las imágenes */
        margin: 0 auto; /* Añadido para centrar horizontalmente las imágenes */
    }
}
@media (max-width:400px){

    .espacio-header{
        width: 100%;
        
        padding-bottom: 180px;
    }

    .detalles {
        
        background-image: linear-gradient(90deg, rgb(39, 71, 120), rgb(3, 57, 116));
        min-width: 80%;
        color: rgba(255, 255, 255, 1);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        display: none;
        z-index: 999; /* Ajusta el z-index a un valor alto para que esté por encima de otros elementos */
    }
    
    .detalles p{
        
        width: 100%;
        min-width: 100%;
        font-size: 10px;
    }

    figure img{
        width: 80%;
    }
    .img-proyectos img{
        min-width: 250px;
        min-height: 400px;
    }
    .item img {
        max-width: 70%;
        max-height: 60%; /* Establece la altura máxima deseada */
        min-height: 50%;
        min-width: 60%;
        display: block; /* Añadido para centrar verticalmente las imágenes */
        margin: 0 auto; /* Añadido para centrar horizontalmente las imágenes */
    }

}

h1 {
    font-size: 36px;  
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

a img{
    
    max-width: 40px;
    max-height: 40px;
    
}

.redesSociales{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 2%;
    padding-left: 15%;
    flex-wrap: wrap;
}

.imgWhats{
    width: 40px;
    height: 40px;
    
}

.WhatsApp{
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.WhatsApp h5{
    padding-left: 5%;
}

.imgGmail{
    width: 40px;
    height: 40px;
}

.gmail{
    display: flex;
    justify-content: left;
    align-items: center;
}
.gmail h5{
    padding-left: 5%;
}


button{
    background-image: linear-gradient(
        150deg,
        rgb(60, 73, 80),
        rgb(57, 78, 100),
        rgb(33, 33, 35)
    );
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    
}
button img{
    background: none;
    padding: 4px 2px;
    border-radius: 6px;
    transition: 0.5s;
}

button:hover img{
    transform: scale(1.2);
}



button:active{
    transform: scale(0.5);
}

.image{
    max-width: 200px;
    max-height: 200px;
    place-items: left;
    border-radius: 5%;
    border-color: rgb(64, 64, 90);
    padding: 1%;
    
}




nav a:hover{
    color: rgb(0, 0, 0);
}

@media (mex-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

}

.linea {
    border: 1px solid #575656; /* Estilo del borde */
    margin: 20px 0; /* Espacio en la parte superior e inferior de la línea */
    border-radius: 1%;
}


/*---------------------------------------------------------------*/

.contenido {
    max-width: 1150px;
    padding: 40px;
}

.infoPuesto p{
    padding-left: 30px;
}

.infoHabTec p{
    padding-left: 30px;
}

.ContenidoHabTec{
    display: flex;

}

.lenguajes{
    width: 100%;
    border-right: none;
    display: grid;
    justify-content: center;
}

.niveles{

    width: 100%;
    display: grid;
    align-items: center;
    
}

.nivelesJava{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}
.nivelesKotlin{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.nivelesPython{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.nivelesSQL{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.nivelInterJava{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nivelBajoKotlin{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nivelInterPython{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nivelInterSQL{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.proyectos{
    padding-left: 30px;
}

.proyecto1{
    display: grid;
    align-items: center;
}

.contenidoP1{
    display: grid;
    justify-content: center;
    align-items: center;
}

.detalles {
    background-image: linear-gradient(90deg, rgb(39, 71, 120), rgb(3, 57, 116));
    width: 50%;
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999; /* Ajusta el z-index a un valor alto para que esté por encima de otros elementos */
}

figure img{
    min-width: 30%;
    min-height: 30%;
    max-width: 45%;
    max-height: 45%;
}



.proyecto2{
    display: grid;

}


.proyecto3 p{
    padding-left: 30px;
}

.mensajeFinal {
    padding: 30px;
}

.item img {
    max-width: 50%;
    max-height: 40%; /* Establece la altura máxima deseada */
    min-height: 30%;
    min-width: 40%;
    display: block; /* Añadido para centrar verticalmente las imágenes */
    margin: 0 auto; /* Añadido para centrar horizontalmente las imágenes */
    
}

.item figure {
    display: grid;
    justify-content: center;
    align-items: center;
    

}

.item:hover img {
    transform: scale(1.03);
}

#cerrar img{
    width: 10%;
    height: 10%;

}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
    
}

.img-proyecto {
    display: inline-block; /* Asegura que el botón se ajuste al contenido interno */
    padding: 0%; /* Elimina cualquier relleno predeterminado del botón */
    border: none; /* Elimina cualquier borde predeterminado del botón */
    box-shadow: 10px 4px 4px #000;
    background: none;
}

.img-proyecto img {
    max-width: 60%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor del botón */
    max-height: 60%; /* Ajusta la altura máxima de la imagen al 100% del contenedor del botón */
    min-width: 60%;
    min-height: 60%;

}

a{
    color: #f2f2f2;
}



