/* Estilos CSS personalizados aquí */

*{
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, rgb(33, 33, 35), rgb(56, 62, 65)); 
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: c;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;

}

/*Header*/

header {
    position: fixed;
    background-image: linear-gradient(90deg, rgb(28, 28, 40), rgb(60, 73, 80)); 
    color: #fff;
    width: 100%;
    display: flex;
    top: 0;
    padding-top: 10px;
    
    margin: 0 10px;
    justify-content: space-between;
}

.espacio-header{
    
    width: 100%;
    padding-bottom: 150px;

}

.containerHeader{
    
    display: flex;

}

.datosHeader{
    
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 3%;
    margin: 0.5%;
    
}

.navegacion{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 8%;
    padding-right: 3%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #f2f2f2;
}

.item:hover{
    color: #707276;
}

#menu{
    display: none;
}

.menu-icono{
    width: 50px;
}

label{
    cursor: pointer;
    display: none;
}

@media (max-width:890px){
    .menu{
        padding: 30px;
        margin: 0;
    }

    label{
        display: initial;
    }

    header{
        display: flex;
        align-items: start;

    }

    .menu {
        position: absolute;
        bottom: 54%;
        left: 50%;
        right: 2%;
        background-color: #323337;
        display: none;
    }

    .item{
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }

}
@media (max-width:400px){

    .espacio-header{
        width: 100%;
        padding-bottom: 200px;
    }
}






h1 {
    font-size: 36px;  
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

a img{
    
    max-width: 40px;
    max-height: 40px;
    
}

.redesSociales{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 2%;
    padding-left: 15%;
    flex-wrap: wrap;
}

.imgWhats{
    width: 40px;
    height: 40px;
    
}

.WhatsApp{
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.WhatsApp h5{
    padding-left: 5%;
}

.imgGmail{
    width: 40px;
    height: 40px;
}

.gmail{
    display: flex;
    justify-content: left;
    align-items: center;
}
.gmail h5{
    padding-left: 5%;
}


button{
    background-image: linear-gradient(
        150deg,
        rgb(60, 73, 80),
        rgb(57, 78, 100),
        rgb(33, 33, 35)
    );
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    
}
button img{
    background: none;
    padding: 4px 2px;
    border-radius: 6px;
    transition: 0.5s;
}

button:hover img{
    transform: scale(1.2);
}



button:active{
    transform: scale(0.5);
}

.image{
    max-width: 200px;
    max-height: 200px;
    place-items: left;
    border-radius: 5%;
    border-color: rgb(64, 64, 90);
    padding: 1%;
    
}




nav a:hover{
    color: rgb(0, 0, 0);
}

@media (mex-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.linea {
    border: 1px solid #575656; /* Estilo del borde */
    margin: 20px 0; /* Espacio en la parte superior e inferior de la línea */
    border-radius: 1%;
}


/*---------------------------------------------------------------*/

.contenido {
    max-width: 1150px;
    padding: 40px;
}

.infoPuesto p{
    padding-left: 30px;
}

.infoHabTec p{
    padding-left: 30px;
}

.ContenidoHabTec{
    display: flex;

}

.lenguajes{
    width: 100%;
    border-right: none;
    display: grid;
    justify-content: center;
}

.niveles{

    width: 100%;
    display: grid;
    align-items: center;
    
}

.nivelesJava{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}
.nivelesKotlin{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.nivelesPython{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.nivelesSQL{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.nivelInterJava{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nivelBajoKotlin{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nivelInterPython{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nivelInterSQL{
    border: solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

.proyectos{
    
    padding-left: 30px;
}

.proyecto1 p{
    padding-left: 30px;
}

.proyecto2 p{
    padding-left: 30px;
}

.proyecto3 p{
    padding-left: 30px;
}

.mensajeFinal {
    padding: 30px   ;
}